<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.syedmisbah.biteie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="io.github.syedmisbah.biteie.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.github.syedmisbah.biteie.EventsActivity" />
        <activity android:name="io.github.syedmisbah.biteie.MarksActivity" />
        <activity android:name="io.github.syedmisbah.biteie.AttendanceActivity" />
        <activity android:name="io.github.syedmisbah.biteie.TimeTableActivity" />
        <activity android:name="io.github.syedmisbah.biteie.FacultyActivity" />
        <activity android:name="io.github.syedmisbah.biteie.ScannerActivity" />
        <activity android:name="io.github.syedmisbah.biteie.SyllabusActivity" />
        <activity android:name="io.github.syedmisbah.biteie.AssignmentActivity" />
        <activity
            android:name="io.github.syedmisbah.biteie.NotesActivity"
            android:hardwareAccelerated="true" />
        <activity android:name="io.github.syedmisbah.biteie.SemSelAssignment" />
        <activity android:name="io.github.syedmisbah.biteie.SemSelAttn" />
        <activity android:name="io.github.syedmisbah.biteie.SemSelTT" />
        <activity android:name="io.github.syedmisbah.biteie.SemSelMarks" />
        <activity android:name="io.github.syedmisbah.biteie.InfoActivity" />
        <activity android:name="io.github.syedmisbah.biteie.DepartmentActivity" />
        <activity
            android:name=".SemSelSYL"
            android:label="@string/title_activity_sem_sel_syl"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="io.github.syedmisbah.biteie.SemSelSyl"></activity>
    </application>

</manifest>